<div id="gross">
<table class="measures">
    <thead>
    <tr>
        <th colspan="5">Maßnahmen</th>
    </tr>
    <tr>
        <th>
            <span>Unternehmen</span>
        </th>
        <th>
            <span>Maßnahme</span>
        </th>
        <th>
            <span>Kategorie</span>
        </th>
        <th>
            <span>Einsparung CO2 in t/a</span>
        </th>
        <th>
            <span>Einsparung Energie</span>
        </th>
        <th>
            <span>Datum</span>
        </th>
    </tr>
    </thead>
    <tbody>
        
    {{#each allMeasures}}
        <tr>
            <td>
                <span>{{this.fk_mass_unternehmen}}</span>
            </td>
            <td>
                <span>{{this.massnahme_name}}</span>
            </td>
            <td>
                <span>{{this.fk_mass_kategorie}}</span>
            </td>
            <td>
                <span>{{this.massnahme_co2einsparung}}</span>
            </td>
            <td>
                <span>{{this.massnahme_absoluteeinsaprung}}</span>
            </td>
            <td>
                <span>{{formatDateTime this.massnahme_datum}}</span>
            </td>
            <td>
                <form action ="/measures/delete/{{this.massnahme_ID}}" method ="POST">
                <a href ="javascript:;" onclick "if(confirm('Möchten Sie diesen Eintrag wirklich löschen?')){parentNode.submit();}">Delete</a>
                </form>
            </td>
            
        </tr>
    {{/each}}    
    </tbody>
</table>
<a href="/measures/createMeasures">Neue Massnahme hinzufügen</a>
</div>
