{{#if user}}
<div>
<form action="/logout" method="GET">
    <a href="javascript:;" onclick="parentNode.submit();">Logout</a>
</form>
</div>
{{else}}
<div>
    <a href="/login">Login</a>
</div>
{{/if}}
<div id="historyChartContainer">
    <canvas id="historyChart" width="600" height="400"></canvas>
</div>
<table class="newsTicker">
    <thead>
        <tr>
            <th colspan="2">News-Ticker</th>
        </tr>
    </thead>
    <tbody>
        {{#each latestMeasures}}
        <tr>
            <td>
                <span>{{formatDateTime this.date}}</span>
            </td>
            <td rowspan="2">
                <span>{{this.name}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>{{this.company}}</span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<table id="bestMeasures">
    <thead>
        <tr>
            <th colspan="2">Beste Maßnahmen</th>
        </tr>
    </thead>
    <tbody>
        {{#each bestMeasures}}
        <tr>
            <td>
                <span>{{formatDateTime this.date}}</span>
            </td>
            <td>
                <span>{{this.name}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>{{this.company}}</span>
            </td>
            <td>
                <span>{{this.co2Saving}} t CO2 eingespart</span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<input id="historyMapValues" type="hidden" value="{{historyMap}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="/js/historyChart.js"></script>