<input id="unitsForCategoryValues" type="hidden" value="{{unitsForCategory}}">
<input id="oldUnitId" type="hidden" value="{{invoice.fk_rechn_einheit}}">
<form method="POST" action="/invoices/edit">
    <input type="hidden" name="invoiceId" value="{{invoice.rechnung_ID}}">
    <table>
        <thead>
            <tr>
                <th colspan="6">Rechnungen</th>
            </tr>
            <tr>
                <th>
                    <span>Kategorie</span>
                </th>
                <th>
                    <span>Verbrauchswert</span>
                </th>
                <th>
                    <span>Einheit</span>
                </th>
                <th>
                    <span>Emissionsfaktor</span>
                </th>
                <th>
                    <span>Start-Datum</span>
                </th>
                <th>
                    <span>End-Datum</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select id="category" name="category" onchange="resetUnitSelect()">
                        {{#each categories}}
                            <option value="{{this.id}}" {{selected this.id ../invoice.fk_rechn_kategorie}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <input type="text" name="rechnung_verbrauchswert" value="{{invoice.rechnung_verbrauchswert}}" size="20">
                </td>
                <td>
                    <select id="unit" name="unit">
                    </select>
                </td>                
                <td>
                    <input type="text" name="rechnung_emissionsfaktor" value="{{invoice.rechnung_emissionsfaktor}}" size="20">
                </td>
                <td>
                    <input type="text" name="rechnungsdaten_startdatum" value="{{formatDateTime invoice.rechnungsdaten_startdatum}}" size="20">
                </td>
                <td>
                    <input type="text" name="rechnung_enddatum" value="{{formatDateTime invoice.rechnung_enddatum}}" size="20">
                </td>
            </tr>
        </tbody>
    </table>
    <p><button type="submit">Speichern</button></p>
</form>
<script>
    const categorySelect = document.getElementById("category");
    const unitSelect = document.getElementById("unit");
    const unitsForCategory = new Map(JSON.parse(document.getElementById("unitsForCategoryValues").value));
    const oldUnitId = document.getElementById("oldUnitId").value;

    function resetUnitSelect() {
        unitSelect.options.length = 0;
        let units = unitsForCategory.get(parseInt(categorySelect.value));
        for(i = 0; i < units.length; i++) {
            let unit = units[i];
            let opt = document.createElement("option");
            opt.value = unit.id;
            opt.innerHTML = unit.name;
            if(unit.id == oldUnitId) {
                opt.selected = "selected";
            }
            unitSelect.appendChild(opt);
        }
    }

    resetUnitSelect();
</script>