<table class="invoice">
    <thead>
        <tr>
            <th colspan="5">Rechnungen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span>Kategorie</span>
            </td>
            <td>
                <span>Verbrauchswert</span>
            </td>
            <td>
                <span>Emissionsfaktor</span>
            </td>
            <td>
                <span>Start-Datum</span>
            </td>
            <td>
                <span>End-Datum</span>
            </td>
        </tr>
        {{#each invoices}}
        <tr>
            <td>
                <span>{{this.fk_rechn_kategorie}}</span>
            </td>
            <td>
                <span>{{this.rechnung_verbrauchswert}} {{this.fk_rechn_einheit}}</span>
            </td>
            <td>
                <span>{{this.rechnung_emissionsfaktor}}</span>
            </td>
            <td>
                <span>{{formatDateTime this.rechnungsdaten_startdatum}}</span>
            </td>
            <td>
                <span>{{formatDateTime this.rechnung_enddatum}}</span>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>